<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Controller.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCategorie</servlet-name>
        <servlet-class>Controller.ServletCategorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletStyle</servlet-name>
        <servlet-class>Controller.ServletStyle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMateriel</servlet-name>
        <servlet-class>Controller.ServletMateriel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFormStyleMateriel</servlet-name>
        <servlet-class>Controller.ServletFormStyleMateriel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListeStyle</servlet-name>
        <servlet-class>Controller.ServletListeStyle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModifyStyleMateriel</servlet-name>
        <servlet-class>Controller.ServletModifyStyleMateriel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSupprimeStyle</servlet-name>
        <servlet-class>Controller.ServletSupprimeStyle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTaille</servlet-name>
        <servlet-class>Controller.ServletTaille</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servletformule</servlet-name>
        <servlet-class>Controller.Servletformule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAfficheFinal</servlet-name>
        <servlet-class>Controller.ServletAfficheFinal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPrixMateriel</servlet-name>
        <servlet-class>Controller.ServletPrixMateriel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTarification</servlet-name>
        <servlet-class>Controller.ServletTarification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFournisseurs</servlet-name>
        <servlet-class>Controller.ServletFournisseurs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTravailOuvrier</servlet-name>
        <servlet-class>Controller.ServletTravailOuvrier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProfil</servlet-name>
        <servlet-class>Controller.ServletProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFabrication</servlet-name>
        <servlet-class>Controller.ServletFabrication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmployer</servlet-name>
        <servlet-class>Controller.ServletEmployer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPoste</servlet-name>
        <servlet-class>Controller.ServletPoste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletClient</servlet-name>
        <servlet-class>Controller.ServletClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCategorie</servlet-name>
        <url-pattern>/ServletCategorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletStyle</servlet-name>
        <url-pattern>/ServletStyle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMateriel</servlet-name>
        <url-pattern>/ServletMateriel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFormStyleMateriel</servlet-name>
        <url-pattern>/ServletFormStyleMateriel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListeStyle</servlet-name>
        <url-pattern>/ServletListeStyle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModifyStyleMateriel</servlet-name>
        <url-pattern>/ServletModifyStyleMateriel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSupprimeStyle</servlet-name>
        <url-pattern>/ServletSupprimeStyle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTaille</servlet-name>
        <url-pattern>/ServletTaille</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servletformule</servlet-name>
        <url-pattern>/Servletformule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFournisseurs</servlet-name>
        <url-pattern>/ServletFournisseurs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAfficheFinal</servlet-name>
        <url-pattern>/ServletAfficheFinal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrixMateriel</servlet-name>
        <url-pattern>/ServletPrixMateriel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTarification</servlet-name>
        <url-pattern>/ServletTarification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTravailOuvrier</servlet-name>
        <url-pattern>/ServletTravailOuvrier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProfil</servlet-name>
        <url-pattern>/ServletProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFabrication</servlet-name>
        <url-pattern>/ServletFabrication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmployer</servlet-name>
        <url-pattern>/ServletEmployer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPoste</servlet-name>
        <url-pattern>/ServletPoste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClient</servlet-name>
        <url-pattern>/ServletClient</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
