<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Controller.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCategorie</servlet-name>
        <servlet-class>Controller.ServletCategorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletStyle</servlet-name>
        <servlet-class>Controller.ServletStyle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMateriel</servlet-name>
        <servlet-class>Controller.ServletMateriel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCategorie</servlet-name>
        <url-pattern>/ServletCategorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletStyle</servlet-name>
        <url-pattern>/ServletStyle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMateriel</servlet-name>
        <url-pattern>/ServletMateriel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
